h3, h2{
    text-align: center;
}

h4{
    margin-left: 5px;
}

#poster, p{
    margin-left: 10px;
}

#poster{
    float: left;
    margin-right:10px;
    width: 25%;
}

.logo{
    width: 60px;
}
ul{
    position: relative;
}

.details{
    float: left;
}
.details p{
    margin-bottom: 3px;
}
.details{
    max-width: 50%;
    margin-right: 50px;
}
.mobile-break { display: none; }

.pointer {
    cursor: pointer;
}

.fa-star{
    color: gold;
}

.drop-header{
    color: black;
}

.drop-header:after {
    font-family: 'FontAwesome';  
    font-size: 21px;
    font-weight: lighter;
    content: "\f107";
    float: right; 
}

.drop-header[aria-expanded="true"]::after {
    content: "\f106";
}

.drop-header span{
    position: relative;
    top: 6px;
    font-weight: 500;
}

.drop{
    padding: 10px;
    border:none;
}

 form{
      margin-top: 20px;
      padding-bottom: 20px;
  }

  .rating-text{
      font-size: 12px;
      font-weight: bold;
  }


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .mobile-break { display: inherit; }

    .details{
        margin-right: 5px;
        min-width: 90%;
    }
    
    .drop-text{
        margin-top: -20px;
    }
    
    }