<br>
<h3>
    <i *ngIf="user && liked" (click)="unFavorite()" class="fas fa-star fa-md pointer" alt="UnFavorite this title"></i> 
    <i *ngIf="user && !liked" (click)="favorite()" class="far fa-star fa-md pointer" alt="Favorite this title"></i> 
    {{movieData.Title}}
</h3>


<img id="poster" src={{movieData.Poster}} class="img-fluid">
        
<p>{{movieData.Plot}}</p>

<div class="container">
<div class="d-flex justify-content-around">
<div class="score">
<img class="logo" src="../assets/img/imdb.jpg"><p>{{ratingData[0]?.Value}}</p>
</div>
<div class="score">
<img class="logo"  src="../assets/img/rt.png"><p>{{ratingData[1]?.Value}}</p>
</div>
<div class="score">
<img class="logo"  src="../assets/img/meta.png"><p>{{ratingData[2]?.Value}}</p>
</div>
</div>
<h2 *ngIf='reviewData.length == 0'>Sydscore: None/10</h2>
<h2 *ngIf='reviewData.length > 0'>Sydscore: {{movieRating}}/10</h2>
</div>

<br>
<div class="row">
<div class="col-sm">
<div class="details">
<h4>Movie Info:</h4>
<div class="MainDetails">
    <p><strong>Rated: </strong>{{movieData.Rated}}</p>
    <p><strong>Release Date: </strong>{{movieData.Released}}</p>
    <p><strong>Runtime: </strong>{{movieData.Runtime}}</p>
    <p><strong>Genre:</strong> {{movieData.Genre}}</p>
    <p><strong>Directed By:</strong> {{movieData.Director}}</p>
    <p><strong>Written By:</strong> {{movieData.Writer}}</p>
    <p><strong>Studio:</strong> {{movieData.Production}}</p>
    <br class="mobile-break">
    </div>
</div>

<h4>Cast:</h4>
<div class="Cast">
    <p>{{movieData.Actors}}</p>
    </div>

<h4>Box Office:</h4>
<div class="Box">
    <p>{{movieData.BoxOffice}}</p>
</div>
</div>
</div>
<br>
    <div class="row">
        <div class="col-md-12">
<div *ngIf="user && !reviewed" class="accordion" id="accordion">
<div class="card drop">
    <div class="card-header drop-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span>Leave a Review</span>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <form #reviewForm="ngForm" (ngSubmit)="submitReview(reviewForm)">
            <div class="form-group">
                <input ngModel #headline="ngModel" name="headline" class="form-control" placeholder="Review Headline" type="text" required>
            </div> <!-- form-group// -->
            <div class="form-group">
                <textarea rows="5" ngModel #review="ngModel" name="review" class="form-control" placeholder="Enter your insightful review here..." required></textarea>
            </div> <!-- form-group// --> 
            <div class="form-group">
                <label class="rating-text" for="rating">Rating: </label>
                <select class="form-control" ngModel #rating="ngModel" name="rating" id="rating" required>
                  <option *ngFor="let r of ratings" [value]="r">{{r}}</option>
                </select>
              </div> <!-- form-group// --> 
            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark btn-block">Submit Review</button>
            </div> <!-- form-group// -->                                        
        </form>
    </div>
</div>
</div>
</div>
</div>

<br>
<h4>Reviews</h4>
<p *ngIf='(reviewData.length == 0) && user'>It seems that there aren't any reviews for this title yet, maybe you could be the first to add one?</p>
<p *ngIf='(reviewData.length == 0) && !user'>It seems that there aren't any reviews for this title yet, create an account and be the first to add one.</p>
<div class="reviewsList">
    <ul class="list-group list-group-flush">
        <div class="row">
            <div class="col-md-12"> 
        <li *ngFor='let review of reviewData'  class="list-group-item">
            <div class="card border-dark mb-12">
                <div class="card-header">{{review.Display}}</div>
                <div class="card-body text-dark">
                  <h5 class="card-title">{{review.Headline}} ({{review.Rating}}/10)</h5>
                  <p class="card-text">{{review.Review}}</p>
                </div>
              </div>
        </li>
        </div></div>
      </ul>
</div>

