h3, h2{
    text-align: center;
}

h4{
    margin-left: 5px;
}

#poster, p{
    margin-left: 10px;
}

#poster{
    float: left;
    margin-right:10px;
    width: 25%;
}

.logo{
    width: 60px;
}
ul{
    position: relative;
}

.details{
    float: left;
}
.details p{
    margin-bottom: 3px;
}
.MainDetails{
    margin-right: 50px;
}
.mobile-break { display: none; }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .mobile-break { display: inherit; }
    .row{
        margin-right: 10px;
    }
    }