h3, h2{
    text-align: center;
}

h4{
    margin-left: 5px;
}

#poster, p{
    margin-left: 10px;
}

#poster{
    float: left;
    margin-right:10px;
    width: 25%;
}

.logo{
    width: 60px;
}
ul{
    position: relative;
}

.details{
    float: left;
}
.details p{
    margin-bottom: 3px;
}
.details{
    max-width: 50%;
    margin-right: 50px;
}
.mobile-break { display: none; }

.pointer {
    cursor: pointer;
}

.fa-star{
    color: gold;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .mobile-break { display: inherit; }

    .details{
        margin-right: 5px;
        min-width: 90%;
    }
    }