img{
    width: 100%;
    height: 93vh;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
img{
    height: 80vh;
    width: auto;
}
}