<div id="mainSlides" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#mainSlides" data-slide-to="0" class="active"></li>
      <li data-target="#mainSlides" data-slide-to="1"></li>
      <li data-target="#mainSlides" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/movies-slide-1.jpg" alt="Movies-Slide-1">
        <div class="carousel-caption">
            <h3>Welcome to Sydmovies</h3>
            <p>The ultimate movie database</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/movies-slide-2.jpg" alt="Movies-Slide-2">
        <div class="carousel-caption">
            <h3>Search</h3>
            <p>Use the above search bar to find your favorites</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/movies-slide-3.jpg" alt="Movies-Slide-3">
        <div class="carousel-caption">
            <h3>Create an account</h3>
            <p>Use your account to track your favorites and add a review</p>
        </div>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#mainSlides" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#mainSlides" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>