<nav class="navbar navbar-light bg-light">
    <a [routerLink]="'/'" class="navbar-brand">Sydmovies</a>
  
        <input type="search" ngModel #searchTerm="ngModel" (keyup.enter)="search(searchTerm)" name="searchTerm" class="form-control"  placeholder="Search Movies" aria-label="Search">
     
        <a><button class="btn btn-outline-dark float-sm-right" *ngIf="!user" (click)="login()" type="link">Sign In</button></a>
        <div *ngIf="user" class="dropdown">
            <button class="btn btn-outline-dark float-sm-right dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user?.displayName }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="profile()">My Profile</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </nav>
  <router-outlet></router-outlet>