<nav class="navbar navbar-light bg-light">
    <a [routerLink]="'/'" class="navbar-brand">Sydmovies</a>
        <input class="form-control" type="search" placeholder="Search Movies" aria-label="Search">
        <a><button class="btn btn-outline-dark float-sm-right" *ngIf="!user" (click)="login()" type="link">Sign In</button></a>
        <a><button class="btn btn-outline-dark float-sm-right" *ngIf="user" (click)="logout()" type="link">Logout</button></a>
      </nav>
  <router-outlet></router-outlet>