<div class="container">
<br>
<h3>Search results for: {{searchQuery}}</h3>
        <ul class="list-group list-group-flush">
          <li *ngFor='let result of searchResults'  class="list-group-item d-flex justify-content-between align-items-center">
            <div class="image-parent">
                <img routerLink="/title/{{result.Title}}" src={{result.Poster}} class="img-fluid pointer">
             </div>
             <div class="res">
            <p routerLink="/title/{{result.Title}}" class="pointer"><strong>{{result.Title}}</strong></p>
            <p class="text-muted">({{result.Year}})</p>
        </div>
        <div> </div>
          </li>
        </ul>
    </div>